rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Rules for users collection
    match /users/{userId} {
      allow read, write: if true;
    }
    
    // Rules for market collection state
    match /market/state {
      allow read, write: if true;
    }
  }
}
